<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>NAME</th>
				<th>DESCRIPTION</th>
				<th>PRICE</th>
				<th>HOURS</th>
			</tr>
		</thead>
		<tbody th:each="course : ${courses}">
			<tr>
				<th th:text="${course.name}"></th>
				<th th:text="${course.description}"></th>
				<th th:text="${course.price}"></th>
				<th th:text="${course.hours}"></th>
			</tr>	
		</tbody>
	</table>
	
	<form action="#" th:action="@{/courses/addcourse}" th:object="${course_post}" method="post">
		<p> Name: <input type="text" th:field="*{name}"/></p>
		<p> Description: <input type="text" th:field="*{description}"/></p>
		<p> Price: <input type="number" th:field="*{price}"/></p>
		<p> Hours: <input type="number" th:field="*{hours}"/></p>
		<p> <input type="submit" value="Submit"/></p>
	</form>
	
</body>
</html>